extends baseEmail

block content 
  p Hi #{firstName},
  p To reset your password, Please follow the link provided:\n#{url}.
  p This website has not been implemented yet!!!
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href='#', target='_blank') Reset your Password
  p If your did not request to reset your password, please ignore this email.